<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<title><%= casein_generate_page_title %></title>
  	<% casein_config_stylesheet_includes.each do |stylesheet| %>
  		<%= stylesheet_link_tag(stylesheet) %>
  	<% end %>

  	<% casein_config_javascript_includes.each do |javascript| %>
  		<%= javascript_include_tag(javascript) %>
  	<% end %>

  	<%= csrf_meta_tag %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag("casein/html5shiv") %>
    <![endif]-->

    <script type="text/javascript">
      var current_controller = "<%= controller_name %>";
    </script>
  </head>

  <body class="admin">

    <nav class="navbar navbar-default" role="navigation">
      <% if @session_user != nil %>
          <% if @session_user.is_super_admin? %>
            <%= render partial: '/casein/layouts/super-admin-nav' %>
          <% elsif @session_user.is_admin? %>
            <%= render partial: '/casein/layouts/admin-nav' %>
          <% end %>
      <% end %>
    </nav>

    <div class="container">
      <div id="content">
        <div class="row">
          <% if content_for?(:sidebar) %>
             <div id="right-column" class="col-md-2">
                <ul class="nav nav-pills nav-stacked content-bottom-padding">
                  <%= yield :sidebar %>
                </ul>
            </div>
            <div id="left-column" class="col-md-10 content-bottom-padding">
          <% else %>
            <div class="col-lg-12 content-bottom-padding">
          <% end %>

            <% if flash[:warning] %>
              <div id="error" class="alert alert-danger">
                <%= flash[:warning] %>
              </div>
            <% end %>
            <% if flash[:notice] %>
              <div id="notice" class="alert alert-success">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if content_for?(:help) %>
              <div id="help" class="alert alert-info">
                <%= yield :help %>
              </div>
            <% end %>

            <%= yield %>

            </div>

        </div>
        <div class="row">
          <div class="col-lg-6 pull-right">
           <hr />
           <footer>
              <p><%= casein_get_footer_string(true) %></p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
